<h1 class="text-center text-primary mt-3">Pipes <small>Angular !!!</small></h1>

<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Variable</th>
                    <th scope="col">Pipe</th>
                    <th scope="col">Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>uppercase</td>
                    <td>{{ nombre | uppercase }}</td>
                </tr>

                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>lowercase</td>
                    <td>{{ nombre | lowercase }}</td>
                </tr>

                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>slice:3</td>
                    <td>{{ nombre | slice:3 }}</td>
                </tr>

                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>slice:0:3</td>
                    <td>{{ nombre | slice:0:3 }}</td>
                </tr>
                <tr>
                    <th scope="row">{{nombre}}</th>
                    <td>slice:-3</td>
                    <td>{{ nombre | slice:-3 }}</td>
                </tr>
                <tr>
                    <th scope="row">{{numerosArr}}</th>
                    <td>slice:1:5</td>
                    <td>{{ numerosArr | slice:1:5}}</td>
                </tr>
                <tr>
                    <th scope="row">{{PI}}</th>
                    <td>number: '1.0-0'</td>
                    <td>{{ PI | number: '1.0-0'}}</td>
                </tr>
                <tr>
                    <th scope="row">{{PI}}</th>
                    <td>number: '1.0-0'</td>
                    <td>{{ PI | number: '.0-4'}}</td>
                </tr>

                <tr>
                    <th scope="row">{{porcentaje}}</th>
                    <td>percent</td>
                    <td>{{ porcentaje | percent }}</td>
                </tr>

                <tr>
                    <th scope="row">{{porcentaje}}</th>
                    <td>percent</td>
                    <td>{{ porcentaje | percent : '2.2-2'}}</td>
                </tr>
            </tbody>
        </table>

        <h4>Slice 5 : 20</h4>
        <ul>
            <li *ngFor="let item of numerosArr | slice:5:20">{{item}}</li>
        </ul>
    </div>
</div>